.post-detail {
    &-container {
        text-align: left;

        & > .title {

            & > div:nth-child(1) {
                font-size: 30px;
                font-weight: 600;
            }
        }

        & > .author {
            display: flex;
            align-items: center;

            & > div:nth-child(1) {
                color: darkblue;
                margin-right: 16px;
            }

            & > div:nth-child(2) {
                font-size: 10px;
            }
        }

        & > .thumbnail {
            width: 100%;
            height: fit-content;
            margin-bottom: 30px;
            margin-top: 24px;

            & > img {
                width: 100%;
                object-fit: contain;
            }
        }

        &__comment {
            margin-top: 72px;
            & > p:nth-child(1) {
                font-weight: 500;
            }

            &__list {
                margin-top: 32px;
                & > div:nth-child(1) {
                    display: flex;
                    align-items: center;
                    margin-bottom: 8px;

                    & > .author-name {
                        font-weight: 500;
                        font-size: 14px;
                    }
                }
                & > div:nth-child(2) {
                    margin-bottom: 16px;
                    font-size: 14px;
                }
            }

            & .pagination {
                float: right;
                clear: both;
            }

            &--logout {
                display: flex;
                align-items: center;
                & > #firebaseui_container {
                    width: 250px;

                    padding-left: 0;

                    & .firebaseui-card-content {
                        width: 250px;
                        padding: 0;
                    }
                }
            }

            &--logged {
                & > div {
                    width: fit-content;
                    display: flex;
                    align-items: center;
                }
                & > form {
                    margin-top: 16px;
                    & > textarea {
                        width: 100%;
                        height: 100px;
                        resize: none;
                        margin-bottom: 8px;
                    }

                    & > div {
                        & > input {
                            border: none;
                            height: 40px;
                            width: 130px;

                            background-color: #c4c4c4;
                            color: black;
                            border-radius: 6px;
                            box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
                        }
                    }
                }
            }
        }
    }
}
