.delete-post-modal {
    
    & .delete-button {
        text-transform: none;
        float: right;
        &:hover{
            background-color: lightgray;
        }
    }
    & .cancel-button {
        text-transform: none;
        float: right;
        &:hover{
            background-color: lightgray;
        }
    }
}
