.home {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    & .post {
        min-width: 350px;
        max-width: 350px;
        min-height: 350px;
        max-height: 350px;

        text-align: left;
        margin-bottom: 52px;

        &:hover {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        }

        &-title {
            max-height: 130px;
            min-height: 130px;

            &-content {
                font-size: large;
                font-weight: 500;

                overflow: hidden;
                text-overflow: ellipsis;
                margin-bottom: 16px;

                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
        }

        &-actions {
            display: flex;
            justify-content: space-between;
        }
    }

    & .action-dropdown {
        cursor: pointer;
        border-radius: 20px;

        &:hover {
            background-color: lightgrey;
        }

        &-items {
            border-radius: 5px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            background-color: white;

            position: absolute;
            z-index: 2;

            & > div {
                width: 150px;
                height: 35px;
                font-size: 14px;

                display: flex;
                align-items: center;
                & > img {
                    margin-left: 6px;
                    margin-right: 6px;
                }

                &:hover {
                    background-color: honeydew;
                }
            }
        }
    }
}
