.home {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    & .post {
        border-bottom: 1px solid #c4c4c4;
        width: 100%;
        &__container {
            display: flex;
            justify-content: space-between;

            &--left {
                // border: 1px solid blue;
                width: 97%;

                & > .title {
                    // border: 1px solid blue;
                    text-align: left;
                    display: flex;
                    align-items: center;

                    & > div:nth-child(1) {
                        font-size: 16px;
                        font-weight: 600;
                        margin-right: 12px;
                        cursor: pointer;

                        &:hover{
                            text-decoration: underline;
                        }
                    }

                    & > div:nth-child(2) {
                        font-size: 10px;
                    }

                    margin-bottom: 4px;
                }

                & > .author {
                    font-size: 11px;
                    text-align: left;
                    color: darkblue;
                    margin-bottom: 6px;
                }

                & > .tags {
                    margin-bottom: 16px;
                }
            }
            &--right {
                // border: 1px solid blue;
                width: 2%;

                & > .actions-row-more {
                    margin-top: 16px;
                    position: relative;
                    cursor: pointer;

                    & > img {
                        width: 100%;
                    }

                    & > .actions-dropdown{
                        border: 1px solid #c4c4c4;
                        border-radius: 5px;
                        z-index: 2;

                        width: 80px;
                        height: 33px;
                        display: flex;

                        position: absolute;
                        right: 10%;
                        top: 30px;

                        & div{
                            width: 40px;

                            &:hover{
                                background-color: lightgray;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }

    & .action-dropdown {
        cursor: pointer;
        border-radius: 20px;

        &:hover {
            background-color: lightgrey;
        }

        &-items {
            border-radius: 5px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            background-color: white;

            position: absolute;
            z-index: 2;

            & > div {
                width: 150px;
                height: 35px;
                font-size: 14px;

                display: flex;
                align-items: center;
                & > img {
                    margin-left: 6px;
                    margin-right: 6px;
                }

                &:hover {
                    background-color: honeydew;
                }
            }
        }
    }

    & ~ .pagination {
        float: right;
        clear: both;
    }
}
