.sidebar {
    background-color: #C4C4C4;
    width: 265px;
    position: fixed;
    height: 100%;

    & .author{
        margin-bottom: 80px;
        font-weight: 700;
    }

    & .sidebar-link{
        text-decoration: none;
        display: block;
        margin-bottom: 50px;

        color: black;
        padding-top: 5px;
        padding-bottom: 5px;

        &:hover{
            background-color: lightgray;
        }
    }
}
